---
import ReadTime from "$components/post/ReadTime.astro";
import Category from "$ui/Category.astro";
import type { InferEntrySchema } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { formatTitle } from "$lib/title-formatter";
import LazyImage from "$ui/LazyImage.astro";

interface Props {
	id: CollectionEntry<"blog">["id"];
	post: InferEntrySchema<"blog">;
	first: boolean;
}

let {
	id,
	post: {
		locale,
		banner,
		bannerAlt,
		title,
		excerpt,
		category,
		readTime,
		createdAt,
	},
	first,
} = Astro.props;

const { emphasized, regular } = formatTitle(title);
---

<a class="article-preview block w-full" href={`/${id}`} data-astro-prefetch>
	<article class="-mr-4 -ml-4 flex flex-col md:flex-row items-start">
		<time
			datetime={createdAt.toISOString()}
			title={Intl.DateTimeFormat("en-US", {
				day: "numeric",
				month: "long",
				year: "numeric",
				hour: "2-digit",
				minute: "2-digit",
				second: "2-digit",
			}).format(createdAt)}
			class="col-span-2 px-4 font-display text-base font-medium
				md:max-w-[16.67%] md:flex-[16.67%]"
		>
			{
				Intl.DateTimeFormat("en-US", {
					day: "numeric",
					month: "short",
					...(createdAt.getFullYear() !== new Date().getFullYear() && {
						year: "numeric",
					}),
				}).format(createdAt)
			}
		</time>
		<div
			class="mt-2 flex flex-col px-4 md:mt-0 md:max-w-[50%] md:flex-[50%]
				lg:max-w-[25%] lg:flex-[25%]"
		>
			<h2 class="font-display text-3xl font-semibold tracking-[-.03em]" {title}>
				<span class="font-serif font-medium italic">{emphasized}</span>
				{regular}
			</h2>
			<p class="mt-4 line-clamp-6 font-text text-ellipsis md:mt-6">
				{
					locale === "ru" && (
						<span class="optical-sizing-force mr-0.5 mb-0.5 inline-block rounded-full bg-black px-2 py-0.5 align-middle font-serif text-xs font-medium tracking-normal text-white dark:bg-golden-creamy dark:text-black">
							Read in Russian
						</span>
					)
				}
				{excerpt}
			</p>
			<div class="flex items-center gap-5 pt-8 md:mt-auto">
				<Category {category} />
				<ReadTime value={readTime} />
			</div>
		</div>
		<div
			class="relative mt-8 ml-auto w-full px-4 md:mt-0
				md:w-auto md:max-w-[41.67%] md:flex-[41.67%]"
		>
			<LazyImage src={banner} alt={bannerAlt} priority={first} banner />
			<div
				class="absolute top-10 right-14 z-[1] flex h-[50px] w-[50px]
					items-center justify-center"
			>
				<span
					class="open-indicator relative h-0 w-0 overflow-clip rounded-full
						bg-white text-3xl shadow-md transition-all duration-300"
				>
					<span
						class="absolute top-2.5 right-2.5 opacity-0 transition-opacity
							duration-[800ms]"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="1em"
							height="1em"
							viewBox="0 0 24 24"
						>
							<path
								fill="#000000"
								d="M6 6v2h8.59L5 17.59L6.41 19L16 9.41V18h2V6z"></path>
						</svg>
					</span>
				</span>
			</div>
		</div>
	</article>
</a>

<style>
	.article-preview {
		img {
			transition: transform 0.3s;
		}

		&:hover {
			img {
				transform: scale(1.05);
			}

			.open-indicator {
				width: 50px;
				height: 50px;

				> span {
					opacity: 1;
				}
			}
		}
	}
</style>
