---
import BaseHead from "$components/BaseHead.astro";
import Separator from "$ui/Separator.astro";
import Footer from "$components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "$consts";
import CustomToaster from "$components/CustomToaster.svelte";

type Props = {
	title?: string;
	description?: string;
	activeCategory?: string;
	image?: {
		src: ImageMetadata;
		alt: string;
	};
	locale?: "en" | "ru";
	article?: {
		createdAt: Date;
		updatedAt?: Date;
		category: string;
	};
};

let {
	title = SITE_TITLE,
	description = SITE_DESCRIPTION,
	activeCategory,
	image,
	locale,
	article,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead {title} {description} {image} {locale} {article} />
	</head>
	<body>
		<CustomToaster client:idle />
		<div class="relative z-0">
			<div class="bg-cream dark:bg-black">
				<main class="flex min-h-screen flex-col pt-6 mx-6 md:mx-12 md:pt-9">
					<slot />

					<div class="mt-auto">
						{
							Astro.slots.pageEnd ? (
								<slot name="pageEnd" />
							) : (
								<Separator class="mb-6 md:mb-9" />
							)
						}
					</div>
				</main>
			</div>
			<Footer {activeCategory} />
		</div>
	</body>
</html>
