---
import type { CollectionEntry } from "astro:content";
import type { ComponentProps } from "astro/types";
import type { MarkdownHeading } from "astro";
import BaseLayout from "$layouts/BaseLayout.astro";
import AppBar from "$components/AppBar.astro";
import Separator from "$ui/Separator.astro";
import LazyImage from "$ui/LazyImage.astro";
import Category from "$ui/Category.astro";
import TableOfContents from "$ui/TableOfContents.astro";
import Me from "$components/post/Me.astro";
import PostDate from "$components/post/PostDate.astro";
import PostReactions from "$components/post/PostReactions.svelte";
import PostTitle from "$components/post/PostTitle.astro";
import ReadTime from "$components/post/ReadTime.astro";

type Props = (
	| CollectionEntry<"drafts">["data"]
	| CollectionEntry<"blog">["data"]
) & {
	id: string;
	mb?: boolean;
	nextPost?: ComponentProps<typeof AppBar>["next"];
	headings?: MarkdownHeading[];
};

const {
	id,
	title,
	excerpt,
	banner,
	bannerAlt,
	locale,
	createdAt,
	updatedAt,
	readTime,
	category,
	mb = false,
	nextPost,
	headings,
} = Astro.props;
---

<BaseLayout
	{title}
	description={excerpt}
	image={banner && bannerAlt ? { src: banner, alt: bannerAlt } : undefined}
	{locale}
	article={createdAt !== undefined && category !== undefined
		? { createdAt, updatedAt, category }
		: undefined}
>
	<AppBar homepage next={nextPost} />
	<article class="pt-8">
		<div class="flex flex-col-reverse items-start justify-between md:flex-row">
			<div
				class="flex flex-col gap-8 self-stretch md:max-w-[50%] md:flex-[50%]"
			>
				<div class="flex items-center gap-5">
					{category !== undefined && <Category category={category} />}
					{readTime !== undefined && <ReadTime value={readTime} />}
					<slot name="about-top" />
				</div>
				{title !== undefined && <PostTitle title={title} />}
				<Me />
			</div>
			<div
				class="banner-clip relative mb-8 w-full overflow-clip md:mb-0 md:w-auto
					md:max-w-[40%] md:flex-[40%]"
			>
				{
					banner !== undefined &&
						(bannerAlt ? (
							<LazyImage
								src={banner}
								alt={bannerAlt}
								priority
								banner
								width={1625}
							/>
						) : (
							<span>Alt is required</span>
						))
				}
				<!-- sizes="(max-width: 768px) 90vw, (max-width: 1168px) 36vw, 38vw" -->
			</div>
		</div>
		<Separator />
		<div class="-ml-6 flex w-[100cqw] justify-center md:-ml-12">
			{
				headings && Boolean(headings.length) && (
					<TableOfContents
						headings={headings.map((h) => ({
							...h,
							text: h.text.slice(0, -1),
						}))}
					/>
				)
			}
			<div class="test w-full">
				<div class="article-content w-full break-words">
					<slot />
				</div>
			</div>
		</div>
		{
			createdAt !== undefined && (
				<div class="flex w-full justify-center">
					<div class="flex w-full max-w-[680px] flex-col">
						<div
							class:list={[
								"flex w-full flex-col justify-between gap-2 md:flex-row md:items-center",
								mb ? "my-8" : "mt-8",
							]}
						>
							<PostDate date={createdAt}>Published at:</PostDate>
							{updatedAt !== undefined && (
								<PostDate date={updatedAt}>Updated at:</PostDate>
							)}
						</div>
						<PostReactions postId={id} client:visible />
					</div>
				</div>
			)
		}
	</article>
	{Astro.slots.readNext && <slot name="readNext" slot="pageEnd" />}
</BaseLayout>
